
*{
    padding:0;
    margin:0;
}
body, html {
    -webkit-appearance: none;
    -moz-appearance:    none;
     height: 100%;
     margin: 0;
     font-family: arial,sans-serif;
  }

#wrapper {
    min-height: 100%;
    position: rel;
}

#header {
    width: 100%;
    padding-top: 10px;
    font-size: 13px;
  }
#content{
    display: block;
    margin: auto;
    overflow:auto;
    height:100%;
    justify-content:center;
    padding-top: 80px;
}
#footer  {
    position: absolute;
    height: 20px;
    width: 100%;
    bottom: 3px;
    padding-top: 15px;
    background: #f2f2f2;
    font-size: 13px;
  }
  
  .google-grid-button {
    width: 15px;
    height: 15px;
  }
  .Notifications{
      width: 15px;
      height: 15px;
  }
  
  .google_logo { /*image on content*/
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 100px 0 0 0;
    width: 272px;
    height: 201px;
  }
  
  .sign_in { 
    /*sign_in button*/
    background-color: #4285f4;
    padding: 8px 12px;
    border: none;
    font-weight: bold;
    color: white;
    border-radius: 1px;
  }
  
  #text_id {
  width: 500px;
  height: 40px;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px #CCCCCD;
  background-color: transparent;
  border: 1px solid #f2f2f2;
  }
  
  .buttonsearch {
    text-align: center;
  }
  
  button.b1, button.b2 {
    font-weight: bold;
    padding: 8px 10px;
    color: #757575;
    background-color: #f2f2f2;
    text-align: center;
    border: none;
  }
  
  
  #footer a , #header a{
    text-decoration: none;
  }
  
  #footer ul, #header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  #footer li , #header li{
    overflow: hidden;
    white-space: nowrap;
    display: inline;
    list-style: none;
    padding-right: 20px;
    color: #757575;
  }
  
  span.fleft {
    float: left;
    padding-left: 20px;
    
  
  }
  
  span.fright, span.nav {
    float: right;
    padding-right: 20px;
    
  }
  
  .b1:hover, .b2:hover {
    color: black;
    border: solid;
    border-width: 1px;
    border-color: #f2f2f2;
    border-radius: 2px;
  }
